.App {
  height: 100vh;
  text-align: center;
  background-color: burlywood;
  background-position:center;
  
}

/*Navbar*/
.nav{
  height: 15vh;
  background-image: url("Components/Navbar/images/cows.jpg");
  background-position: center;
  background-size: cover;  
}

/*Contact Us Page*/
.contact{
  margin-top: 40vh;
  border: darkgray 3px;
  width: 35vw;  
}
.text-area{
  max-height: 45vh;
  height: 35vh;
}


